@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corFundoSite: #3e3e3e;
  --corFonteSite: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --corFundoSite: #f4f4f4;
    --corFonteSite: #3e3e3e;
  }
}

body {
  color: var(--corFonteSite);
  background-color: var(--corFundoSite);
}

* {
  box-sizing: border-box;
}
